body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    padding: 20px;
}

.container {
    max-width: 420px;
    margin: auto;
}

button, select, input, textarea {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    font-size: 15px;
}

input, select, textarea {
    background: #222;
    color: white;
}

.quick-mode {
    background: #2962ff;
    color: white;
    font-weight: bold;
}

.active-mode {
    background: #00c853 !important;
    color: black;
}

.save-btn {
    background: #00c853;
    color: black;
    font-weight: bold;
}

.emotional-btn {
    background: #b71c1c;
    color: white;
    font-weight: bold;
}

.emotional-active {
    background: red !important;
}
